/*Los prefijos de los navegadores se han puesto usando https://autoprefixer.github.io/ Una página recomendada por Google y usada por Twitter.*/
/*Se ha usado un beautifier para formatear el código*/
.contenedorlogreg {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 10px auto 10px auto;
	grid-template-columns: auto auto auto;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
	grid-template-areas: "cabecera cabecera cabecera""logreg logreg logreg""footer footer footer";
	grid-gap: 10px;
}
label {
	text-align: start;
}
#breadcrumb{
	font-size: 14px;
}
h1,p {
	text-align: center;
}
.logreg {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	-ms-grid-column-span: 5;
	grid-area: logreg;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin-top: 40px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.login {
	width: 100%;
	padding: 20px;
	grid-area: login;
}
.register {
	width: 100%;
	padding: 20px;
	grid-area: register;
}
.intexto {
	width: 80%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: block;
	/*background: lightgray;*/
	-webkit-animation-name: animtexto;
	animation-name: animtexto;
	-webkit-animation-duration: 8s;
	animation-duration: 8s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
@-webkit-keyframes animtexto {
	0% {
		background-color: lightgray;
	}
	25% {
		background-color: lightgreen;
	}
	50% {
		background-color: lightsalmon;
	}
	75% {
		background-color: lightcoral;
	}
	100% {
		background-color: lightgray;
	}
}
@keyframes animtexto {
	0% {
		background-color: lightgray;
	}
	25% {
		background-color: lightgreen;
	}
	50% {
		background-color: lightsalmon;
	}
	75% {
		background-color: lightcoral;
	}
	100% {
		background-color: lightgray;
	}
}
.botonlogreg {
	background-color: black;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	width: 20%;
	opacity: 0.9;
	text-align: center;
}
.cabecera {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 5;
	grid-area: cabecera;
	justify-self: center;
	background: -webkit-linear-gradient(linear, right top, left top, color-stop(73%, #33ccff), to(#ff99cc));
	background: -o-linear-gradient(right, #33ccff 73%, #ff99cc 100%);
	background: linear-gradient(to left, #33ccff 73%, #ff99cc 100%);
	width: 100%;
	height: 120%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: #ff99cc 3px solid;
}
.idioma {
	grid-area: idioma;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 10px;
}
.imglogo {
	width: 60%;
	height: 100%;
	-webkit-animation-name: animlogo;
	animation-name: animlogo;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-o-object-fit: cover;
	object-fit: cover;
}
@-webkit-keyframes animlogo {
	0% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	25% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	50% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	75% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	100% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
}
@keyframes animlogo {
	0% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	25% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	50% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	75% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	100% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
}
.logo {
	grid-area: logo;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 10px;
}
.navegador {
	grid-area: nav;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 10px;
}
#areabusq {
	width: 80%;
}
body {
	margin: 0px;
	font-family: 'Oxygen', sans-serif;
	background-image: url('pics/fondo.jpg');
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count:1;
	width: 99.8%;
}
.logintext {
	-webkit-transform: rotateZ(10deg);
	-ms-transform: rotate(10deg);
	transform: rotateZ(10deg);
}
.registertext {
	-webkit-transform: rotateZ(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotateZ(-10deg);
}
.footer {
	-ms-grid-row: 5;
	-ms-grid-column: 1;
	-ms-grid-column-span: 5;
	grid-area: footer;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 20px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.contacto {
	-ms-grid-column-align: center;
	justify-self: center;
	float: right;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 10px;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.redes {
	justify-self: center;
	float: left;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
body {
	margin: 0px;
	font-family: 'Oxygen', sans-serif;
}
.contacto {
	border-top: 1px gray solid;
	border-right: 1px gray solid;
	-o-object-fit: cover;
	object-fit: cover;
}
#checkbox {
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}
a:link {
	text-decoration: none;
	color: red;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
a:visited {
	color: purple;
}
a:active {
	color: blue;
}
a:hover {
	font-size: 20px;
}
@media (max-width: 800px) {
	.logreg {
		display: block;
	}
	.cabecera {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
}
.footer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
}
	.botonlogreg {
		width: 50%;
	}
	#areabusq {
		width: 100%;
		height: 35%;
	}
	.logo {
		width: 60%;
	}
	.register {
		width: 60%;
	}
	.login {
		width: 60%;
	}
}